In [1]:
import pandas as pd 
from sqlalchemy import create_engine 
import datetime as dt
from config import password

# Extract CSVs into DataFrames

In [2]:
imdb_file = "Resources/IMDB ratings.csv"
imdb_df = pd.read_csv(imdb_file)
print(imdb_df.shape) # Printing the shape to be referenced later
imdb_df.head(5)

(85855, 49)

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [3]:
disney_file = "Resources/disney_plus_shows.csv"
disney_df = pd.read_csv(disney_file)
print(disney_df.shape) # Printing the shape to be referenced later
disney_df.head(5)

(992, 19)

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

# Transform DataFrames

## IMDB Data Cleaning

In [4]:
# Selecting columns to be included
imdb_columns = ['imdb_title_id', 'weighted_average_vote', 'total_votes', 
                'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6',
       'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
                'us_voters_rating', 'us_voters_votes',
               'non_us_voters_rating', 'non_us_voters_votes']
imdb_df_transformed = imdb_df[imdb_columns].copy()

# Renaming what will become the index 
imdb_df_transformed.rename(columns={"imdb_title_id":"imdb_id"}, inplace=True)
imdb_df_transformed.head()

,imdb_id,weighted_average_vote,total_votes,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,12,4,10,43,28,28,9,1,5,14,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,57,18,58,137,139,103,28,20,13,16,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6,6,17,44,52,32,16,5,6,4,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,15,8,16,62,98,117,63,26,25,16,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,210,225,436,641,344,169,66,39,20,87,7.0,488.0,7.0,1166.0

In [5]:
# Checking for duplicates on IMDB title id 
imdb_df_transformed.drop_duplicates("imdb_id", inplace=True)
imdb_df_transformed.shape # There are none.

(85855, 17)

In [6]:
# Check data types 
imdb_df_transformed.dtypes # Everything looks correct.

imdb_id                   object
weighted_average_vote    float64
total_votes                int64
votes_10                   int64
votes_9                    int64
votes_8                    int64
votes_7                    int64
votes_6                    int64
votes_5                    int64
votes_4                    int64
votes_3                    int64
votes_2                    int64
votes_1                    int64
us_voters_rating         float64
us_voters_votes          float64
non_us_voters_rating     float64
non_us_voters_votes      float64
dtype: object

In [7]:
# Dropping rows with blanks 
na_test = imdb_df_transformed.dropna(how="any")
na_test.shape

(85645, 17)

In [8]:
# Setting index as IMDB title id 
imdb_df_transformed.set_index("imdb_id", inplace=True)
imdb_df_transformed.head()

,weighted_average_vote,total_votes,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
imdb_id,,,,,,,,,,,,,,,,
tt0000009,5.9,154,12,4,10,43,28,28,9,1,5,14,6.4,51.0,6.0,70.0
tt0000574,6.1,589,57,18,58,137,139,103,28,20,13,16,6.0,96.0,6.2,331.0
tt0001892,5.8,188,6,6,17,44,52,32,16,5,6,4,6.2,31.0,5.9,123.0
tt0002101,5.2,446,15,8,16,62,98,117,63,26,25,16,5.5,207.0,4.7,105.0
tt0002130,7.0,2237,210,225,436,641,344,169,66,39,20,87,7.0,488.0,7.0,1166.0

## Disney+ Data Cleaning

In [9]:
# Selecting columns to be included
disney_columns = ['imdb_id', 'title', 'type', 'rated',
                  'released_at','imdb_rating', 'imdb_votes' ]
disney_df_transformed = disney_df[disney_columns].copy()
disney_df_transformed.head()

,imdb_id,title,type,rated,released_at,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,movie,PG-13,31 Mar 1999,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,series,NaN,25 Mar 2019,6.2,124
2,tt0115433,101 Dalmatians,movie,G,27 Nov 1996,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,21 Jan 2003,5.8,"7,434"
4,tt0211181,102 Dalmatians,movie,G,22 Nov 2000,4.9,"33,444"

In [10]:
# Fixing data types
# Removed commas in imdb_votes and converted to float
disney_df_transformed['imdb_votes'] = disney_df_transformed['imdb_votes'].str.replace(',','').astype(float)

In [12]:
# Change N/A in release dates to make it blank
disney_df_transformed.replace({'N/A': ''}, inplace=True)
date = {' Jan ':'/01/', ' Feb ':'/02/', ' Mar ':'/03/', 
        ' Apr ':'/04/', ' May ':'/05/', ' Jun ':'/06/', 
        ' Jul ':'/07/', ' Aug ':'/08/', ' Sep ':'/09/', 
        ' Oct ':'/10/', ' Nov ':'/11/', ' Dec ':'/12/'}
for month in date:
    disney_df_transformed['released_at'] = disney_df_transformed['released_at'].str.replace(month, date[month])

# Convert release dates column to datetime
disney_df_transformed['released_at'] = pd.to_datetime(disney_df_transformed['released_at'], format="%d/%m/%Y")
disney_df_transformed.head()

,imdb_id,title,type,rated,released_at,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,movie,PG-13,1999-03-31,7.3,283945.0
1,tt7019028,101 Dalmatian Street,series,NaN,2019-03-25,6.2,124.0
2,tt0115433,101 Dalmatians,movie,G,1996-11-27,5.7,97785.0
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2003-01-21,5.8,7434.0
4,tt0211181,102 Dalmatians,movie,G,2000-11-22,4.9,33444.0

In [13]:
# View all changes
disney_df_transformed.dtypes

imdb_id                object
title                  object
type                   object
rated                  object
released_at    datetime64[ns]
imdb_rating           float64
imdb_votes            float64
dtype: object

In [14]:
# Drop empty IMDB title ids
disney_df_transformed.dropna(subset=['imdb_id'], inplace=True)
disney_df_transformed.shape

(894, 7)

In [15]:
# Checking for duplicates on IMDB title id 
disney_df_transformed.drop_duplicates("imdb_id", inplace=True)
disney_df_transformed.shape # There are none.

(894, 7)

In [16]:
# Renaming the rating and voting columns to make their source clear
disney_df_transformed.rename(columns={"imdb_rating":"disney_imdb_rating", "imdb_votes":"disney_imdb_votes"}, inplace=True)
disney_df_transformed.head()

,imdb_id,title,type,rated,released_at,disney_imdb_rating,disney_imdb_votes
0,tt0147800,10 Things I Hate About You,movie,PG-13,1999-03-31,7.3,283945.0
1,tt7019028,101 Dalmatian Street,series,NaN,2019-03-25,6.2,124.0
2,tt0115433,101 Dalmatians,movie,G,1996-11-27,5.7,97785.0
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2003-01-21,5.8,7434.0
4,tt0211181,102 Dalmatians,movie,G,2000-11-22,4.9,33444.0

In [17]:
# Setting index as IMDB id 
disney_df_transformed.set_index("imdb_id", inplace=True)
disney_df_transformed.head()

,title,type,rated,released_at,disney_imdb_rating,disney_imdb_votes
imdb_id,,,,,,
tt0147800,10 Things I Hate About You,movie,PG-13,1999-03-31,7.3,283945.0
tt7019028,101 Dalmatian Street,series,NaN,2019-03-25,6.2,124.0
tt0115433,101 Dalmatians,movie,G,1996-11-27,5.7,97785.0
tt0324941,101 Dalmatians 2: Patch's London Adventure,movie,G,2003-01-21,5.8,7434.0
tt0211181,102 Dalmatians,movie,G,2000-11-22,4.9,33444.0

# Create database connection

In [ ]:
# Initiate connection
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Disney_IMDB_DB')
connection = engine.connect()

In [ ]:
# Confirm tables
engine.table_names()

# Load DataFrames into database

In [ ]:
# Use to_SQL
imdb_df_transformed.to_sql(name='imdb', con=engine, if_exists='append', index=True)
disney_df_transformed.to_sql(name='disney', con=engine, if_exists='append', index=True)